
$baseBack: #FFFFFF;
$tableBack: #F7F9FB;
$cardBorderDefault: #DDE3E6;
$ton: #0098EA;
$border: #dadada;
$borderHover: #969696;
$text-black: #04060B;
$buttonTorrentMenuActive: rgba(118, 152, 187, 0.12);
$buttonTorrentMenuInactive: #EDF1F6;
$secondaryText: #728A96;
$buttonStroke: #E9EEF1;
$separator-alpha: #DFE5E8;
$drop-border: #E9EEF1;
$drop-back: #EDF1F6;

@import 'base';
@import 'modal';
@import "TunnelNodesModal";