
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/inter.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    src: local(""),
    url("assets/fonts/mulish.ttf") format("truetype");
}

$baseBack: #F7F9FB;
$ton: rgba(0, 136, 204, 0.85);
$border: #dadada;
$borderHover: #969696;
$text-black: #232328;

#root {
    font-family: Inter,serif;
    /*    font-family: "JetBrains Mono",monospace; */
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

html {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    height: 100%;
    width: 100%;
    cursor: default;
}

.left-bar {
    background: $baseBack;
    height: 100%;
    width: 180px;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    display: flex;
    flex-direction: column;
}

.menu-block {
    border-right: solid 1px $border;
    flex-grow: 1;
}

.logo-img {
    height: 19px;
    margin: auto 0 auto auto;
    border-radius: 50%;
}

.right-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo-block {
    width: 100%;
    height: 50px;
    min-height: 50px;
    /* background: linear-gradient(#f1f1f1, #ffffff 80%);*/
    border-bottom: solid 1px $border;
    border-top: solid 1px $border;
    border-right: solid 1px $border;
    display: flex;
    background: $baseBack;
}

.logo-text {
    color: $text-black;
    font-weight: 600;
    font-size: 12px;
    margin: auto auto auto 10px;
}

.top-bar {
   /*background: linear-gradient(#f1f1f1, #ffffff 80%);*/
    background: $baseBack;
    height: 50px;
    min-height: 50px;
    width: 100%;
    margin: 0;
    border-bottom: solid 1px $border;
    border-top: solid 1px $border;
    display: flex;
}


.search-input {
    width: 160px;
    height: 25px;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, 0.13);
    padding: 9px 25px;
    font-size: 12px;
    color: $text-black;
    margin: auto 30px;

    background: white url(assets/images/icons/search.svg) left no-repeat;
    background-size: 16% 70%;
}

.search-input::placeholder {
    color: #a6a6a6;
}

.search-input:focus {
    outline: none;
    border: solid 1px $borderHover;
}

.torrents-table {
    flex-grow: 1;
    background: $baseBack;
    font-family: "JetBrains Mono",monospace;
}

.torrents-table table {
    table-layout: initial;
    width: 100%;
    background-color: #ffffff;
}

.torrents-table td.small {
    font-size: 11px;
}

.torrents-table td {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 27px;
    padding-right: 5px;
    padding-left: 5px;

    border-bottom: solid 1px $border;
}

.torrents-table th {
    height: 27px;
    border-bottom: solid 1px $border;
    padding-left: 5px;
    background-color: $baseBack;
}

.torrent-selected {
    background: rgb(238, 246, 250);
    /*background: linear-gradient(to bottom, rgb(148, 179, 253), rgb(160, 201, 250));*/
    /*border: rgba(0, 0, 0, 0.85);*/
}

.torrent-info {
    display: flex;
    flex-direction: column;
    background: $baseBack;
    box-shadow: 0 -1px 2px 0 #0000001a;
    z-index: 2;
}

.foot-bar {
    display: flex;
    justify-items: center;

    height: 30px;
    min-height: 30px;
    border-top: solid 1px $border;

    background: $baseBack;
}

.foot-bar .speed {
    width: 250px;
    display: flex;
    margin: auto;
    span img {
        height: 13px;
        margin: 0 5px 2px;
    }
    span .upload {
        transform: rotate(180deg);
    }
}



.foot-bar .speed span {
    font-family: "JetBrains Mono",monospace;
    font-size: 11px;
    margin: auto;
    width: 150px;
}

.torrent-menu {
    height: 20px;
    width: 100%;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
}

.torrent-menu button {
    width: 80px;
    height: 100%;
    line-height: 100%;
    background-color: white;
    margin-left: 5px;
    border-radius: 0 0 7px 7px;
    border: solid 1px $border;
    border-top: none;
    font-size: 11px;
}
.torrent-menu button:hover {
    border: solid 1px $borderHover;
    border-top: none;
}
.torrent-menu button:disabled {
    color: $text-black;
    border: solid 1px $text-black;
    border-top: none;
}

.torrent-body {
    height: calc(100% - 20px);
    min-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.size-scroller {
    height: 10px;
    cursor: ns-resize;
    position: relative;
    width: 100%;
}

.item-state {
    height: 12px;
    width: 12px;
   /* border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.68);*/
    margin: auto;

    /**/
    border-radius: 12px;
    border: solid 2.5px transparent;
}

.seeding {
    background: linear-gradient($baseBack, $baseBack) padding-box,
    linear-gradient(138.34deg, #02b4f6 -36.38%,#0088cc 93.43%) border-box;

   /* border-image: linear-gradient(138.34deg, rgba(1, 241, 241, 0.6) -36.38%, rgba(4, 127, 195, 0.6) 93.43%) 1;*/
  /* border-color: rgba(0, 136, 204, 0.75);*/
}

.downloading {
   /* background-color: rgba(6, 185, 57, 0.75); */
    background: linear-gradient($baseBack, $baseBack) padding-box,
    linear-gradient(138.34deg, #4ddc06 -36.38%,  #0d9a02 93.43%) border-box;

}

.fail {
    background: linear-gradient($baseBack, $baseBack) padding-box,
    linear-gradient(138.34deg, rgb(246,79,79) -36.38%, rgb(196, 66, 50) 93.43%) border-box;

    /* background-color: rgba(190, 2, 37, 0.75);*/
}

.inactive {
    background: linear-gradient($baseBack, $baseBack) padding-box,
    linear-gradient(138.34deg, rgb(196,194,194) -36.38%, rgb(153, 159, 162) 93.43%) border-box;

    /* background-color: rgba(176, 176, 176, 0.75); */
}


.progress-block-small {
    min-width: 110px;
    display: flex;
    font-size: 9px;
    color: $text-black;
}

.progress-bar-small {
    width: 10%;
    height: 100%;
    /*background-color: #0088CC;*/
    background-color: $ton;
    border-radius: 5px;
    box-shadow:inset 0 0px 2px 1px rgba(77, 77, 77, 0.07);
    transition: width 0.2s;
}

.progress-bar-small-form {
    width: 75%;
    height: 5px;
    border-radius: 5px;
    box-shadow:inset 0 1px 2px 1px #0000001a;
    margin: auto auto auto 4px;
}

.filters-menu {
    padding: 11px 7px;
    display: flex;
    flex-direction: column;
}

.filters-menu h6 {
    font-size: 10px;
    color: rgba(35, 35, 40, 0.58);
    margin-bottom: 3px;
    padding-left: 4px;
}

.filters-menu hr {
    color: $text-black;
    margin: 0 0 5px;
}

.left-bar hr {
    color: $border;
    margin: auto auto 5px;
    width: 100%;
}

.filters-menu .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    width:95%;
    height: 22px;
    margin: auto auto 4px;
    border: solid 1px rgba(155, 155, 155, 0.46);
    border-radius: 3px;
    font-size: 11px;
    color: $text-black;
    cursor: pointer;
}

.filters-menu .selected {
    color: $text-black;
    border: solid 1px $text-black;
}

.filters-menu .not-selected:hover {
    border: solid 1px $borderHover;
}

.actions-menu {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.actions-menu .menu-item {
    width: 80%;
    margin: auto auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 14px;
    font-size: 13px;
    border-radius: 6px;

    border: solid 1px rgba(0, 136, 204, 0.68);
    color: $text-black;
    background: white;
    cursor: pointer;
}
.actions-menu .menu-item:active {
    box-shadow: inset 0 0 3px #00000042;
}

.actions-menu .main {
    color: #fff;
    margin: 5px auto 10px;

    background: linear-gradient(180deg, #029fd9 0%, #0088cc 100%);
}

.actions-menu .main:hover {
    color: #fff;
    margin: 5px auto 10px;

    background: linear-gradient(180deg, #03b1f1 0%, #029ae7 100%);
}

.version-block {
    display: flex;
    flex-direction: column;
    height: 65px;
    border-right: solid 1px $border;
}

.version-block .dev-info {
    visibility: hidden;
    margin: 0px 0px 0;
    font-size: 8px;
    height: 30px;
    text-align: center;
    color: rgba(35, 35, 40, 0.58);
}

.version-block .ver-info {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    font-size: 9px;
    border-top: solid 1px $border;

    color: $text-black;
    height: 30px;
    min-height: 30px;
}

.version-block .ver-info .updates {
    margin: auto 5px auto;
    width: 75px;
    border-radius: 3px;
    border: solid 1px rgba(2, 159, 217, 0.63);
    height: 15px;
    text-align: center;
    cursor: pointer;
    color: $text-black;
    background-color: white;
}

.version-block .ver-info span {
    margin: auto 2px auto;
    font-size: 10px;
}

.top-buttons-container {
    width: 99px;
    margin-left: 2px;
    margin-right:auto;
    display: flex;
}

.top-button {
    margin: auto;
    font-size: 12px;
    width: 21px;
    height: 21px;

    border: solid 1px $border;
    border-radius: 4px;
    background-color: white;
}
.top-button:hover {
    border: solid 1px $borderHover;
}
.top-button:active {
    box-shadow: inset 0 0 3px #00000042;
}
.top-button:disabled {
    border: none;
}

.top-button.stop {
    background-image: url(assets/images/icons/pause.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    :disabled {
        filter: invert(47%) sepia(23%) saturate(3225%) hue-rotate(160deg) brightness(95%) contrast(102%);
    }
}

.top-button.remove {
    background-image: url(assets/images/icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
}

.top-button.start {
    background-image: url(assets/images/icons/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
}

.create-input {
    width: 300px;
    height: 35px;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, 0.13);
    font-size: 12px;
    padding: 0 10px;
    color: $text-black;
    margin: auto;
    background-color: white;
    display: flex;
    overflow: hidden;
}

.create-input span {
    margin: auto 0;
    padding-left: 10px;
    font-family: "JetBrains Mono",monospace;
    font-size: 10px;
}

.create-input button {
    height: 70%;
    margin: auto 0;
    border-radius: 8px;
    background-color: #f8f8f8;
    border: solid 1px rgba(0, 0, 0, 0.13);
    font-size: 10px;
}
.create-input button:hover {
    border: solid 1px $borderHover;
}
.create-input button:active {
    box-shadow: inset 0 0 3px #00000042;
}

.info-progress-block {
    width: 97%;
    height: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    .percent {
        width: 20px;
    }
}

.info-progress-bar {
    margin: 10px;
    width: 75%;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:inset 0 1px 2px 1px #0000001a;
    background: white;
}

.info-progress-bar .filled {
    height: 100%;
    width: 0;
    background-color: $ton;
    border-radius: 10px 0 0 10px;
    box-shadow:inset 0 0px 2px 1px rgba(77, 77, 77, 0.07);
    transition: width 0.2s;
}

.info-data-block {
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    button {
        font-size: 10px;
        height: 20px;

        border: solid 1px $border;
        border-radius: 5px;
        background-color: white;
        margin-left: 5px;
    }
    button:hover {
        border: solid 1px $borderHover;
    }
    button:active {
        border: solid 1px $text-black;
    }
}

.info-data-block .description {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.info-data-block .description span.field {
    font-weight: bold;
    font-size: 12px;
    font-family: "JetBrains Mono",monospace;
}

.info-data-block .description p {
    user-select: text;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    cursor: text;

    margin-top: 3px;
    font-size: 10px;
    font-family: "JetBrains Mono",monospace;
}

.info-data-block .basic {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.info-data-block .item {
    align-items: center;
    overflow: clip;
}

.info-data-block .basic span {
    font-size: 12px;
    white-space: nowrap;
    font-family: "JetBrains Mono",monospace;
}

.info-data-block .basic span.field {
    font-size: 12px;
    font-weight: bold;
}

.info-data-block .basic span.value {
    user-select: text;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    cursor: text;

    font-size: 11px;
}

.files-table {
    width: 95%;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    font-family: "JetBrains Mono",monospace;
    thead tr {
        margin-bottom: 10px;
        height: 30px;
    }
    th {
        padding-left: 5px;
    }
    td {
        padding-left: 5px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

#App {
    height: 100%;
    display: flex;
}
