
$baseBack: #F7F9FB;
$ton: rgba(0, 136, 204, 0.85);
$border: #dadada;
$borderHover: #969696;
$text-black: #232328;

.modal-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 700;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 500;
}

.modal-back {
  display: flex;
  flex-direction: column;
  z-index: 100;
  background: $baseBack;
  position: relative;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(30, 33, 37, 0.47) 0px 2px 6px;
  border: solid 1px rgba(30, 33, 37, 0.65);
}

.modal-content {
  padding: 15px 15px;
  overflow-y: auto;
}

.add-torrent-block {
  display: flex;
  flex-direction: column;
  input {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 5px 10px;
    border-radius: 30px;
    border: solid 1px $border;
    background-color:white;
    text-align: center;

    font-size: 10px;
    font-family: "JetBrains Mono",monospace;
    color: $text-black;
  }
  .torrent-name-input {
    margin-bottom: 8px;
  }
}

.daemon-config {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

hr.config {
  color: $borderHover;
  margin: 10px 0 0;
}

.set-speed {
  margin-top: 10px;
  display: flex;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    margin: auto;
    input {
      text-align: center;
      font-size: 12px;
      height: 30px;
      width: 120px;
    }
    input::placeholder {
      font-size: 16px;
      color: $text-black;
    }
      input+span:after {
      content: '112';
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: black;
    }
  }
  .info.listen {
    margin-top: 5px;
  }
}

.add-torrent-block input::placeholder {
  color: #a6a6a6;
}
.add-torrent-block input.file {
  border: dashed 1px $border;
}

.add-torrent-block input:focus {
  outline: none;
  border: solid 1px $borderHover;
}

.add-torrent-block input.invalid {
  outline: none;
  border: solid 1px red;
}

.add-torrent-block .title {
  text-align: center;
  margin-bottom: 7px;
  font-size: 12px;
  font-weight: bold;
}
.add-torrent-block .title.big {
  font-size: 14px;
}
.add-torrent-block .title.name {
  padding-top: 8px;
  font-size: 14px;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
}

.add-torrent-block .error {
  color: #c90000;
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}

.hr-text {
  line-height: 0.5em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1em;
  opacity: 1;
  font-size: 12px;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, $borderHover, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;

    padding: 0 .4em;
    line-height: 1em;
    color: #818181;
    background-color: $baseBack;
  }
}

.files-selector {
  border-radius: 10px;
  background-color: white;
  min-width: 300px;
  min-height: 200px;

  padding: 5px;
  max-width: 430px;
  max-height: 300px;
  overflow: scroll;
  margin: auto;
  border: dotted 1px rgba(0, 136, 204, 0.53);

  display: flex;
  flex-direction: column;
}
.files-selector::-webkit-scrollbar {
  display: none;
}

.modal-control {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 18px auto 5px;
}

.second-button {
  margin: auto;
  width: 100px;
  flex-direction: column;
  align-items: center;
  padding: 3px 14px;
  font-size: 13px;
  border-radius: 6px;
  justify-content: center;
  white-space: nowrap;

  border: solid 1px rgba(0, 136, 204, 0.68);
  color: $text-black;
  background: white;
  cursor: pointer;
}
.second-button.black {
  border: solid 1px $text-black;
}
.main-button {
  margin: auto;
  width: 100px;
  flex-direction: column;
  align-items: center;
  padding: 3px 14px;
  font-size: 13px;
  border-radius: 6px;

  white-space: nowrap;
  border: solid 1px rgba(0, 136, 204, 0.68);
  color: #fff;
  cursor: pointer;
  background: linear-gradient(180deg, #029fd9 0%, #0088cc 100%);
}
.main-button:hover {
  color: #fff;
  background: linear-gradient(180deg, #03b1f1 0%, #029ae7 100%);
}
.main-button:disabled {
  color: #23232888;
  border: solid 1px rgba(204, 204, 204, 0.68);
  background: white;
  cursor: auto;
}
.second-button:active {
  box-shadow: inset 0 0 3px #00000042;
}
.second-button.danger {
  width: auto;
  color: white;
  background: linear-gradient(180deg, rgb(246,79,79) 0%, rgb(196, 66, 50) 100%);

  border: solid 1px rgba(196, 66, 50, 0.68);
}

.checkbox-file {
  margin: 3px 10px 0;
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  line-height: 14px;
}

.checkbox-file.daemon {
  margin: 10px auto auto;
  font-size: 11px;

  font-weight: bold;
}

.checkbox-file.folder {
  font-weight: bold;
}

.checkbox-file .size {
  font-size: 9px;
  color: $text-black;
  font-family: "JetBrains Mono",monospace;
}

.checkbox-file button {
  background-image: url(assets/images/icons/expand.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 0;
  background-color: transparent;

  height: 14px;
  margin: 0 0 0 4px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.checkbox-file input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: solid 1px rgba(0, 136, 204, 0.68);
  border-radius: 3px;
}

.checkbox-file:hover input ~ .checkmark {
  background-color: rgba(0, 136, 204, 0.05);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  background-image: url(assets/images/icons/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px 7px;
  height: 12px;
  width: 12px;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-file input:checked ~ .checkmark:after {
  display: block;
}

.dir-space {
  display: flex;
  flex-direction: column;
  margin: 0 15px 3px;
}

.loader-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}
.loader-text {
  font-size: 14px;
  padding-top: 5px;
}
.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #0088cc;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.torrent-created {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  input {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  span {
    font-size: 12px;
  }
  .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.daemon-waiter {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.81);
  z-index: 500;
  display: flex;
  flex-direction: column;
  .loader-block {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 80px;
  }
  .loader {
    width: 30px;
    height: 30px;
    border: 3px solid #0088cc;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader-text {
    font-size: 18px;
    padding-top: 5px;
  }
}