
.modal-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 700;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.40);
  z-index: 50;
}

.modal-back {
  display: flex;
  flex-direction: column;
  z-index: 100;
  background: var(--back, $baseBack);
  position: relative;
  margin: auto;
  border-radius: 10px;
}

.modal-content {
  display: flex;
  margin: auto;
  padding: 12px 12px;
  overflow-y: auto;
}

.add-torrent-block {
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 6px 12px;

    border-radius: 40px;
    border: 0.5px solid var(--card-border, $cardBorderDefault);
    background: var(--table-back, $tableBack);

    font-variant-numeric: lining-nums tabular-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.008px;

    color: var(--text-primary, $text-black);
  }
  input::placeholder {
    color: var(--text-secondary, $secondaryText);
  }
  input:focus {
    outline: 1px solid $ton;
    box-shadow: 0px 0px 0px 3px rgba(7, 172, 255, 0.10);
    border: 0.5px solid var(--card-border, $cardBorderDefault);
  }
  .title {
    margin-bottom: 12px;
    color: var(--text-primary, $text-black);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.018px;
  }
  .field-name {
    padding-left: 12px;
    margin-bottom: 4px;
    color: var(--text-primary, $text-black);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: -0.007px;
  }
  .torrent-name-input {
    margin-bottom: 8px;
  }
  input.invalid {
    outline: none;
    border: solid 1px red;
  }
  input.file {
    height: 114px;
    border-radius: 10px;
    border: 1px dashed var(--drop-border, $drop-border);
    padding: 12px 12px 16px 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: transparent;
    cursor: pointer;

  }
  input.file::file-selector-button {
    display: none;
  }
  input.file:hover {
    background: var(--table-back, $tableBack);
  }
  .file-selector-ui {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 286px;
    height: 114px;
    border-radius: 10px;
    pointer-events: none;
    padding: 12px;

    top: 121px;
    left: 12px;
    img {
      height: 40px;
      margin-bottom: 8px;
    }
    label {
      width: 100%;
      color: var(--text-secondary, $secondaryText);
      text-align: center;
      font-variant-numeric: lining-nums tabular-nums;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 150% */
      letter-spacing: -0.007px;
    }
    .big {
      width: 100%;
      text-align: center;
      font-variant-numeric: lining-nums tabular-nums;
      color: var(--text-primary, $text-black);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; /* 142.857% */
      letter-spacing: -0.008px;
    }
  }
  .files-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .file-item {
      display: flex;
      flex-direction: column;
      height: 66px;
      width: 90px;

      img {
        height: 40px;
      }

      .name {
        margin-top: 4px;
        text-align: center;
        text-overflow: ellipsis;
        color: var(--text-primary, $text-black);
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.007px;
      }
    }
  }
  .success {
    display: flex;
    width: 46px;
    height: 46px;
    padding: 9px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 100px;
    background: var(--dark-feedback-colors-success, #32D583);
    background-image: url("assets/images/icons/check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px 28px;

    margin-bottom: 17px;
  }
  .created-hash {
    font-size: 10px;
  }
  .title {
    margin-bottom: 12px;
    color: var(--text-primary, $text-black);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.018px;
  }
  .title.big {
    font-size: 14px;
  }
  .title.name {
    padding-top: 8px;
    font-size: 14px;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
  }

  .error {
    color: #c90000;
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
  }
}

.daemon-config {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.set-speed {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 137px;
      padding: 6px 12px;
      align-items: center;
      gap: 10px;

      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: -0.008px;
      height: 30px;
    }
    input::placeholder {
      font-variant-numeric: lining-nums tabular-nums;
      color: var(--text-secondary, $secondaryText);
    }
      input+span:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: black;
    }
  }
  .info.listen {
    margin-top: 5px;
  }
}

.hr-text {
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 0.5em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1em;
  opacity: 1;

  font-variant-numeric: lining-nums tabular-nums;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.013px;

  &:before {
    content: '';

    border-radius: 20px;
    background: var(--separator-alpha, $separator-alpha);

    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.5px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;

    padding: 0 .4em;
    line-height: 1em;
    color: var(--text-secondary, $secondaryText);
    background-color: var(--back, $baseBack);
  }
}

.files-selector {
  min-width: 300px;

  padding: 5px;
  max-width: 430px;
  max-height: 300px;
  overflow: scroll;
  margin: auto;

  display: flex;
  flex-direction: column;
  ::-webkit-scrollbar {
    display: none;
  }
}

.modal-control {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 4px;
}

.modal-version {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 8px;
  color: var(--text-secondary, $secondaryText);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 120% */
  letter-spacing: -0.006px;
  .version {
    margin-right: 6px;
  }
  .check {
    text-decoration-line: underline;
    cursor: pointer;
  }
}

.second-button {
  white-space: nowrap;

  border-radius: 24px;
  display: flex;
  width: 137px;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.008px;

  border: 1px solid var(--button-stroke, $buttonStroke);
  color: var(--text-primary, $text-black);
  background: var(--back, $baseBack);
  cursor: pointer;
}
.second-button:hover {
  background: var(--table-back, $tableBack);
}
.second-button.black {
  border: solid 1px var(--text-primary, $text-black);
}
.main-button {
  display: flex;
  width: 138px;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  flex-direction: column;
  border-radius: 24px;
  background: $ton;

  color: var(--basic-white, #FFF);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.008px;

  white-space: nowrap;
  border: solid 1px rgba(0, 136, 204, 0.68);
  cursor: pointer;
}
.main-button:hover {
  background: var(--accent-hover, #00A6FF);
}

.main-button:disabled {
  border: none;
  color: var(--text-secondary, $secondaryText);
  background: var(--table-back, $tableBack);
  cursor: auto;
}
.second-button.danger {
  width: auto;
  color: white;
  background: var(--dark-feedback-colors-error, #FF5C5C);
}

.dir-space {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0px;
}

.loader-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.loader-text {
  font-size: 14px;
  padding-top: 5px;
}
.loader {
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  border: 3px solid #0088cc;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.torrent-created {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  input {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  span {
    font-size: 12px;
  }
  .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.daemon-waiter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.40);
  z-index: 500;
}


.loader-block {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background: var(--back, $baseBack);
}

.loader {
  width: 48px;
  height: 48px;
  border: 2.2px solid $ton;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.status-message {
  margin-top: 5px;
  border-radius: 10px;
  color: var(--text-primary, $text-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  max-width: 40%;
  position: absolute;
  top: calc(50% + 85px);
  transform: translateY(-50%);
  z-index: 505;
}
