

.tooltiptext {
    visibility: hidden;
    background-color: rgba(54, 54, 54, 0.38);
    color: #fff;
    text-align: center;
    border-radius: 9px;
    padding: 3px 9px;
    position: absolute;
    z-index: 1;
    font-size: 10px;


    opacity: 0;
    transition:visibility 0.15s linear,opacity 0.15s linear;
   /*
    bottom: 12%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;*/
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;

    border-color: rgba(54, 54, 54, 0.38) transparent transparent transparent;
}